body {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
                url("homes.jpeg");
    background-size: cover;
    background-position: center;
    font-family: "Times New Roman", serif;
}

/* Title */
.dashboard-title {
    text-align: center;
    margin-top: 40px;
    font-size: 55px;
    color: #1d1b1b;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

/* Top menu */
.top-menu {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
}

/* Main container */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card layout */
.card {
    background-color: rgba(241, 208, 198, 0.9);
    padding: 35px;
    width: 650px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Section heading */
.card h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

/* Search bar */
.search-bar {
    width: 90%;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #555;
    margin-bottom: 30px;
}

/* Months grid */
.months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Month buttons */
.month-btn {
    padding: 15px;
    background-color: #3f241c;
    color: white;
    text-decoration: none;
    font-size: 22px;
    border-radius: 10px;
    transition: 0.3s;
}

.month-btn:hover {
    background-color: #cf985d;
    transform: translateY(-3px);
}

/* Social section */
.socials {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

/* Buttons */
.btn {
    width: 260px;
    padding: 15px;
    text-align: center;
    background-color: #f1d0c6;
    color: rgb(56, 53, 53);
    text-decoration: none;
    font-size: 22px;
    border-radius: 14px;
    transition: 0.3s;
}

.btn.small {
    width: 200px;
}

.btn:hover,
.social-btn:hover {
    background-color: #3f241c;
    color: white;
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Social buttons */
.social-btn {
    padding: 15px 25px;
    background-color: #f1d0c6;
    text-decoration: none;
    font-size: 22px;
    color: #333;
    border-radius: 10px;
    transition: 0.3s;
}
