body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 25px;
    background-color: #e0c4bf;
}

h1 {
    text-align: center;
    padding: 0.6px 1.2px;
    background-color: #f5f3f2;
    border: 15px groove black;
    border-radius: 15px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

h3 {
    font-size:35px;
    text-align: center;
    
}
.button-container {
    margin-top: 50px;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 20px 20px;
    background-color: #612f25;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-radius: 6px;
}
.login-form {
    width: 350px;
    margin: 40px auto;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    width: 120px;
    font-size: 24px;
    font-weight: bold;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #777;
}

input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}
.btn:hover {
    background-color: #cf985d;
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}