body {
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),url("Homea.jpeg");
    background-size: cover;
    background-position: center;
    font-family: "Times New Roman", serif;
}
.dashboard-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 60px;
    color: #1d1b1b;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.btn {
    width: 280px;
    padding: 18px;
    text-align: center;
    background-color: #f1d0c6;
    color: rgb(56, 53, 53);
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 14px;
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.btn.wide {
    width: 360px;
}
.btn:hover {
    background-color: #3f241c;
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}