body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("Homea.jpeg");
    background-size: cover;
    background-position: center;
}
h1 {
    text-align: center;
    padding: 12px 24px;
    background-color: rgb(255, 228, 223);
    border-radius: 10px;
    width: max-content;
    margin: 30px auto;
    font-size: 45px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

.info-container {
    background-color: rgba(255, 228, 223, 0.85);
    padding: 25px 40px;
    margin: 30px 50px;
    border-radius: 12px;
}
.button-container {
    margin-top: 20px;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 20px 20px;
    background-color: #612f25;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-radius: 6px;
}
